---
interface Props extends Tag {};

function hexToRGB(hex: string, alpha?: number) {
    var r = parseInt(hex.slice(1, 3), 16),
        g = parseInt(hex.slice(3, 5), 16),
        b = parseInt(hex.slice(5, 7), 16);
        
    if (alpha !== undefined) {
        return `rgba(${r},${g},${b},${alpha})`;
    } else {
        return `rgb(${r},${g},${b})`;
    }
}
---

<style define:vars={{
    tc: hexToRGB(Astro.props.color),
    bgc: hexToRGB(Astro.props.color, 0.175)
}}>
    .tag {
        color: var(--tc);
        background-color: var(--bgc);
    }
</style>

<div class="w-fit h-fit py-0.5 px-1.5 rounded-xl text-sm tag">
    {Astro.props.text}
</div>
